.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

em {
    color: gray;
}

#delete-form {
    display: inline;
}

#map {
    height: 500px;
}

#amenityImg {
    width: 30px;
    height: 30px;
}